@import 'partials/layout';

// $XS:      320px;   
// $S:       420px;
// $SSM:     500px;   
// $SM:      600px;
// $SMM:     700px;      
// $M:       768px; 
// $ML:      900px;  
// $L:       992px;
// $LM:     1024px; 
// $XL:     1200px;
// $XXL:    1400px;
// $XXXL:   1600px;   
// $XXXXL:  1800px;
// $XXXXXL: 1900px; 

body {
	overflow-x: hidden;
	min-width: 320px;
}

section#first {
	background: image-url("first/colline.png") no-repeat center bottom #54c3c6;
	background-size: contain;
	width: 100%;
	position: relative;
	z-index: 0;

	@include MQ_MIN(XXXXXL) {
		height: 1120px;
	}

	@include MQ_MAX(XXXXXL) {
		height: 1120px;
	}

	@include MQ_MAX(XXXXL) {
		height: 1070px;
	}

	@include MQ_MAX(XXXL) {
		height: 930px;
	}

	@include MQ_MAX(XXL) {
		height: 810px;
	}

	@include MQ_MAX(XL) {
		height: 700px;
	}

	@include MQ_MAX(LM) {
		height: 600px;
	}

	@include MQ_MAX(L) {
		height: 580px;
	}

	@include MQ_MAX(ML) {
		height: 540px;
	}

	@include MQ_MAX(M) {
		height: 500px;
	}

	@include MQ_MAX(SMM) {
		height: 400px;
	}

	@include MQ_MAX(SM) {
		height: 340px;
	}

	@include MQ_MAX(SSM) {
		height: 280px;
	}

	@include MQ_MAX(S) {
		height: 240px;
	}

	#scene-nuage {
		padding: 0;

		.nuage {
			&.first {
				width: 20%;
				margin-left: 5%;

				img {
					padding-top: 30%;
				}
			}

			&.second {
				width: 8%;
				margin-left: 40%;

				img {
					margin-top: 200%;
				}
			}

			&.third {
				width: 10%;
				margin-left: 60%;

				img {
					margin-top: 240%;
				}

			}

			&.fourth {
				width: 15%;
				margin-left: 80%;

				img {
					margin-top: 60%;
				}
			}
		}
	}

	.phare {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		z-index: 1;
	}

	#vol-au-vent {
		height: 50%;
		position: absolute;
		bottom: 0;
		width: 100%;

		.vol-au-vent {
			position: absolute;

			&.big {
				animation-name: spin;
			    animation-duration: 4000ms;
			    animation-iteration-count: infinite;
			    animation-timing-function: linear;
				width: 10%;
				right: 10%;
				top: 4%;
			}

			@keyframes spin {
			    from {
			        transform:rotate(0deg);
			    }
			    to {
			        transform:rotate(360deg);
			    }
			}

			&.small {
				animation-name: spin;
			    animation-duration: 4000ms;
			    animation-iteration-count: infinite;
			    animation-timing-function: linear;
				width: 7%;
				right: 3%;
				top: 16%;
			}

			@keyframes spin {
			    from {
			        transform:rotate(0deg);
			    }
			    to {
			        transform:rotate(360deg);
			    }
			}
		}
	}
}

section#second {
	width: 100%;
	position: relative;
	z-index: 1;

	.wave-slow {
		-webkit-animation: wave 6s 0.1s infinite linear;
  		-moz-animation: wave 6s 0.1s infinite linear;
  		animation: wave 6s 0.1s infinite linear;
	}

	.wave-fast {
		-webkit-animation: wave 3s 0.1s infinite linear;
  		-moz-animation: wave 3s 0.1s infinite linear;
  		animation: wave 3s 0.1s infinite linear;
	}

	@keyframes wave {
		0% {
			-webkit-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
			-moz-transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
			transform: rotateZ(0deg) translate3d(0,10%,0) rotateZ(0deg);
		}

		100% {
			-webkit-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
			-moz-transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
			transform: rotateZ(360deg) translate3d(0,10%,0) rotateZ(-360deg);
		}
	}

	.wave-boat {
		-webkit-animation: wave 7s 0.1s infinite linear;
  		-moz-animation: wave 7s 0.1s infinite linear;
  		animation: wave 7s 0.1s infinite linear;
	}

	@keyframes wave {
		0% {
			-webkit-transform: rotateZ(0deg) translate3d(0,5%,0) rotateZ(0deg);
			-moz-transform: rotateZ(0deg) translate3d(0,5%,0) rotateZ(0deg);
			transform: rotateZ(0deg) translate3d(0,5%,0) rotateZ(0deg);
		}

		100% {
			-webkit-transform: rotateZ(360deg) translate3d(0,5%,0) rotateZ(-360deg);
			-moz-transform: rotateZ(360deg) translate3d(0,5%,0) rotateZ(-360deg);
			transform: rotateZ(360deg) translate3d(0,5%,0) rotateZ(-360deg);
		}
	}

	#scene-wave {
		position: absolute;
    	top: -50px;
    	padding: 0;
    	width: 100%;

    	.layer {
    		&.first {
				z-index: 0;

				div {
				    position: absolute;

    				@include MQ_MIN(XXXXXL) {
						top: -33px;
    					left: -10px;
    					width: 300%;
					}

					@include MQ_MAX(XXXXXL) {
						top: -33px;
    					left: -10px;
    					width: 300%;
					}

					@include MQ_MAX(XXXXL) {
						top: -30px;
    					left: -90px;
   						width: 110%;
					}

					@include MQ_MAX(XXXL) {
						top: -10px;
    					left: -90px;
   						width: 110%;
					}

					@include MQ_MAX(XL) {
						top: 0px;
    					left: -70px;
    					width: 110%;
					}

					@include MQ_MAX(L) {
						top: 10px;
    					left: -50px;
   						width: 110%;
					}

					@include MQ_MAX(M) {
						top: 20px;
    					left: -50px;
   						width: 110%;
					}

					@include MQ_MAX(SM) {
						top: 30px;
  					  	left: -30px;
  					  	width: 110%;
					}
				}
    		}

    		&.boat {
				z-index: 1;

				div {
					position: absolute;
					right: 22%;
			    	width: 18%;

				    @include MQ_MIN(XXXXXL) {
				    	top: -90px;
					}

					@include MQ_MAX(XXXXXL) {
				    	top: -90px;
					}

					@include MQ_MAX(XXXXL) {
						top: -55px;
					}

					@include MQ_MAX(XXXL) {
						top: -55px;
					}

					@include MQ_MAX(XXL) {
						top: -45px;
					}

					@include MQ_MAX(XL) {
						top: -35px;
					}

					@include MQ_MAX(L) {
						top: -20px;
					}

					@include MQ_MAX(M) {
						top: -10px;
					}

					@include MQ_MAX(SM) {
						top: 7px;
  					}

  					@include MQ_MAX(SSM) {
						top: 12px;
  					}
	   	 		}
    		}

    		&.second {
				z-index: 2;
				
				div {
				    position: absolute;

    				@include MQ_MIN(XXXXXL) {
						top: -2px;
    					left: 0px;
    					width: 300%;
					}

					@include MQ_MAX(XXXXXL) {
					    top: -2px;
    					left: 0px;
    					width: 300%;
					}

					@include MQ_MAX(XXXXL) {
						top: -2px;
    					left: -90px;
   						width: 110%;
					}

					@include MQ_MAX(XXXL) {
						top: 10px;
    					left: -90px;
   						width: 110%;
					}

					@include MQ_MAX(XL) {
					    top: 20px;
    					left: -30px;
    					width: 110%;
					}

					@include MQ_MAX(L) {
						top: 20px;
    					left: -40px;
   						width: 110%;
					}

					@include MQ_MAX(M) {
						top: 25px;
    					left: -20px;
    					left: -50px;
   						width: 110%;
					}

					@include MQ_MAX(SM) {
						top: 35px;
    					left: -10px;
  					  	width: 110%;
					}
				}
    		}		

    		&.third {
				z-index: 3;

				div {
				    position: absolute;

    				@include MQ_MIN(XXXXXL) {
						top: 30px;
    					left: 0px;
    					width: 300%;
					}

					@include MQ_MAX(XXXXXL) {
					    top: 30px;
    					left: 0px;
    					width: 300%;
					}

					@include MQ_MAX(XXXXL) {
						top: 30px;
    					left: -90px;
   						width: 110%;
					}

					@include MQ_MAX(XXXL) {
						top: 30px;
    					left: -90px;
   						width: 110%;
					}

					@include MQ_MAX(XL) {
					    top: 30px;
    					left: -30px;
    					width: 110%;
					}

					@include MQ_MAX(L) {
						top: 30px;
    					left: -40px;
   						width: 110%;
					}

					@include MQ_MAX(M) {
						top: 30px;
    					left: -20px;
    					left: -50px;
   						width: 110%;
					}

					@include MQ_MAX(SM) {
						top: 40px;
    					left: -10px;
  					  	width: 110%;
					}
				}	
    		}

    	}
	}
}

section#third {
	background: image-url("third/bg.png") center bottom no-repeat, -webkit-linear-gradient(top, #1bbbd3, #0c4067); /* For Safari 5.1 to 6.0 */
	background: image-url("third/bg.png") center bottom no-repeat, -o-linear-gradient(top, #1bbbd3, #0c4067); /* For Opera 11.1 to 12.0 */
	background: image-url("third/bg.png") center bottom no-repeat, -moz-linear-gradient(top, #1bbbd3, #0c4067); /* For Firefox 3.6 to 15 */
	background: image-url("third/bg.png") center bottom no-repeat, linear-gradient(top, #1bbbd3, #0c4067); /* Standard syntax */
	padding-bottom: 230px;
	position: relative;

	@include MQ_MIN(XXXXXL) {
		margin-top: 50px;
		padding-top: 100px;		
	}

	@include MQ_MAX(XXXXXL) {
		margin-top: 50px;
		padding-top: 100px;
	}

	@include MQ_MAX(XXXXL) {
		margin-top: 50px;
		padding-top: 100px;
	}

	@include MQ_MAX(XXXL) {
		margin-top: 40px;
		padding-top: 100px;
	}

	@include MQ_MAX(XL) {
		margin-top: 30px;
    	padding-top: 100px;
	}

	@include MQ_MAX(L) {		
		margin-top: 20px;
		padding-top: 100px;	
	}

	@include MQ_MAX(M) {			
		margin-top: 10px;	
		padding-top: 50px;	
	}

	@include MQ_MAX(SM) {
		margin-top: 0;	
		padding-top: 40px;				
	}

	#bloc-crea {
		width: 90%;
		//height: 500px;
		background-color: #fff;
		margin: 0 auto;
		border-radius: 3px;
		padding: 20px;


		/* Effect 4: fall perspective */

		.grid {

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				perspective: 1300px;
			}

			li {
				display: block;
				float: left;
				padding: 7px;
				width: 33%;
				opacity: 0;
				transform-style: preserve-3d;

				&.animate {
					transform: translateZ(400px) translateY(300px) rotateX(-90deg);
					animation: fallPerspective .8s ease-in-out forwards;
				}

				a, img {
					outline: none;
					border: none;
					display: block;
					max-width: 100%;
				}

				.color-1 {
					height: 400px;
					background-color: #ec6851;
					width: 100%;
				}

				.color-2 {
					height: 193px;
					background-color: #f5eace;
					width: 100%;
				}

				.color-3 {
					height: 193px;
					background-color: #169dae;
					width: 100%;
				}

				.color-4 {
					height: 400px;
					background-color: #30384f;
					width: 100%;
				}
			}

			@keyframes fallPerspective {
				100% {
					transform: translateZ(0px) translateY(0px) rotateX(0deg);
					opacity: 1;
				}
			}

			.double {
				a {
					margin-bottom: 14px;

					img {
						height: 270px;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
				
			}

			&.first {
				li {
					opacity: 1;
				}
			}

			&.second, &.third {
				display: none;
			}
		}			
	}


	

	#submarine {
		//opacity: 0;
		position: relative;

		.circliful {
		    position: relative; 
		}

		.circle-text, .circle-info, .circle-text-half, .circle-info-half {
		    width: 100%;
		    position: absolute;
		    text-align: center;
		    display: inline-block;
		}

		.circle-info, .circle-info-half {
			color: #999;
		}

		.circliful .fa {
			margin: -10px 3px 0 3px;
			position: relative;
			bottom: 4px;
		}

		.mov {
			right: 0 !important;
			//opacity: 1 !important;
		}


		img {
			position: relative;
			z-index: 0;
			width: 90%;
			margin: 100px auto;
			right: -100%;
			transition: all 2s ease-out;
		}
	}
}

section#fourth {
	background: image-url("fourth/footer.jpg") center bottom no-repeat #4d5152;
	background-size: contain;
	height: 1000px;
}